/* ./src/assets/base.css */
@import 'tailwindcss';

@theme {
    --primary-background: #111827;
    --secondary-background: #1f2937;
    --tertiary-background: #2d3748;
    --success-color: #10b981;
    --error-color: #ef4444;

    --primary-txt: white;
    --secondary-txt: #9ca3af;
    --muted-txt: #6b7280;
    --disabled-txt: #4b5563;

    --primary-border: #374151;
    --secondary-border: #4b5563;

    --primary-btn: #059669;
    --primary-btn-hover: #047857;

    --card-background: #374151;
    --input-background: #374151;

    --ring-primary: var(--success-color);
    --ring-primary-offset: var(--secondary-background);

    --chart-positive: var(--success-color);
    --chart-negative: var(--error-color);

    --primary-font: Inter, Avenir, Helvetica, Arial, sans-serif;
    --secondary-font: Inter, Avenir, Helvetica, Arial, sans-serif;
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}
